<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850239060342-j95dri3nsin8g2f0qufn28mblo3m7co9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850239060342-j95dri3nsin8g2f0qufn28mblo3m7co9</string>
	<key>API_KEY</key>
	<string>AIzaSyBkj1cPrBs83VHu-BR4lObmFN7PXA5jUTA</string>
	<key>GCM_SENDER_ID</key>
	<string>850239060342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apdclMeterRegistrySystem</string>
	<key>PROJECT_ID</key>
	<string>apdcl-927db</string>
	<key>STORAGE_BUCKET</key>
	<string>apdcl-927db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850239060342:ios:9edb7b910bee359a9a2257</string>
</dict>
</plist>